In [1]:
import pandas
pandas.__version__

df = pandas.read_csv('real_interest_rate_by_country.csv')

'1.4.4'

In [4]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  4576 non-null   object
 1   country_name  4576 non-null   object
 2   year          4576 non-null   int64
 3   value         4576 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 143.1+ KB

              year        value
count  4576.000000  4576.000000
mean   2002.397072     6.158481
std      12.484916    26.120630
min    1961.000000   -97.693477
25%    1994.000000     1.773144
50%    2004.000000     5.579257
75%    2012.000000     9.826362
max    2021.000000  1158.026425